#Content .spec-n
{
  font-size: 60px;
}
#Content .spec-c
{
  font-size: 30px;
}
#Content .spec-p
{
  font-size: 30px;
}
/* RWD */
@media (min-width:576px) and (max-width:767px) 
{
  #Content .spec-n
{
  font-size: 16px;
}
  #Content .spec-c
  {
    font-size: 16px;
  }
#Content .spec-p
{
  font-size: 16px;
}
}
@media (min-width:0px) and (max-width:575px) 
{
  #Content .spec-c
  {
    font-size: 10px;
  }
#Content .spec-p
{
  font-size: 10px;
}
}