#Content .collectionCon
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#Content .collectionShow
{
  width: 65vw;
}
#Content .co-title
{
  font-size: 20px;
  white-space: nowrap;
}
/* RWD */

@media (min-width:992px) and (max-width:1199px) 
{
  #Content .co-title
  {
    font-size: 15px;
  }
}
@media (min-width:0px) and (max-width:991px) 
{
  #Content .collectionShow
  {
    width: 75vw;
  }
  #Content .co-title
  {
    font-size: 10px;
  }
}