#Content .themeShow
{
  --animate-duration: 1.5s;
}
#Content .theme-card
{
  position: relative;
}
#Content .theme-card-content
{
  position: absolute;
  bottom: 2.5%;
  left: 10%;
  text-shadow: 1px 1px 2.5px gray;
}
#Content .theme-card-title
{
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
}
/* RWD */
@media (min-width:576px) and (max-width:991px) 
{
  #Content .theme-card
  {
    margin-bottom: 16px;
  }
  #Content .theme-card-title
  {
    font-size: 30px;
  }
  #Content .theme-shop-now
  {
    font-size: 8px;
  }
}
@media (min-width:0px) and (max-width:575px) 
{
  #Content .theme-card
  {
    margin-bottom: 16px;
  }
  #Content .theme-card-title
  {
    font-size: 20px;
  }
  #Content .theme-shop-now
  {
    font-size: 4px;
  }
}

