/* all */
*
{
  font-family: 'Cinzel', serif;
}
body
{
  position: relative;
}
/* #Navbar */
#Navbar .navbar
{
  background-color: rgb(
    25, 25, 25);
}
#Navbar .home
{
  justify-content: start;
}
#Navbar img
{
  width: 220px;
}
#Navbar a
{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#Navbar #menLine
{
  background-color: white;
  opacity: 0;
  height: 1px;
  
}
#Navbar #womenLine
{
  background-color: white;
  opacity: 0;
  height: 1px;
}
#Navbar .control
{
  justify-content: flex-end;
}
#Navbar .sort
{
  background-color: rgb(240, 240, 240);
}
#Navbar .sortLine
{
  background-color: black;
  opacity: 0;
  height: 1px;
  
}
#Navbar .ndSort
{
  position: absolute;
  top: 126px;
  width: 100vw;
  height: 50vh;
  background-color: rgb(240, 240, 240);
  z-index: 500;
}
#Navbar .ndSort a
{
  font-size: 20px;
  color: black;
}
#Navbar .ndSort
{
  display: none;
}
#Navbar .ndSortCon
{
  display: none;
}
#Navbar .ns
{
  border: 1px solid rgba(255, 255, 255,0);
  transition: all 0.5s ease-in ;
}
#Navbar .ns:hover
{
  border: 1px solid rgba(0, 0,0,1);
}

/* RWD */
@media (min-width: 0px) and (max-width: 767px) {
  #Navbar .home
  {
    justify-content: center;
  }
  #Navbar .control
  {
    justify-content: space-between;
  }
  #Navbar .control>div
  {
    margin-top: 1rem;
  } 
}

/* animation */
@keyframes bottomLine {
  0%
  {
    width: 0px;
  }
  100%
  {
    width: 100%;
    opacity: 1;
  }
  }
@keyframes reBottomLine {
  0%
  {
    width: 100%;
    opacity: 1;
  }
  100%
  {
    width: 0px;
    opacity: 0;
  }
  }

