#Content .forInspirationCon
{
  position: relative;
}
#Content .forInspiration >img
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#Content .prev2
{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: rgb(25, 25, 25);
  cursor: pointer;
  z-index: 1000;
}
#Content .next2
{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  color: rgb(25, 25, 25);
  cursor: pointer;
  z-index: 1000;
}
