#Content .itemRankShow
{
  position: relative;
}
#Content .itemRank-card
{
  position: relative;
}
#Content .rankP
{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
}
#Content .itemRank-c
{
  font-size: 16px;
}
#Content .itemRank-p
{
  font-size: 16px;
}

/* RWD */

@media (min-width:0px) and (max-width:767px) 
{
  #Content .itemRank-c
  {
    font-size: 10px;
  }
  #Content .itemRank-p
  {
    font-size: 10px;
  }
}
