#Footer .footerCon
{
  background-color: rgb(25, 25, 25);
}
#Footer .footer-child::first-letter
{
  font-size: 19px;
}
#Footer .accordion-button
{
  font-size: 20px;
  font-family: 'Cinzel', serif;
}
#Footer .accordion-button::after
{
  background-image: url(../img/angle-down-solid-white.svg);
}

#Footer .accordion-button:not(.collapsed)
{
  background-color: rgb(25, 25, 25);
}
#Footer .accordion-button:focus
{
  border: none;
  box-shadow: none;
}
#Footer .toTop
{
  box-shadow: 1px 1px 12.5px rgb(150, 150, 150);
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  transform: translate(-50%,-50%);
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1000;
}
/* RWD */
@media (min-width:768px) and (max-width:1199px) 
{
  #Footer .accordion-button
  {
    font-size: 22px;
  }
}
@media (min-width:0px) and (max-width:767px) 
{
  #Footer .accordion-button
  {
    font-size: 18px;
  }
  #Footer .footer-child
  {
    font-size: 12px;
  }
}