/* all */
*
{
  font-family: 'Cinzel', serif;
}
body
{
  position: relative;
  background-color: rgb(235, 235, 235);
}
/* #Navbar */
#Navbar .navbar
{
  background-color: rgb(
    25, 25, 25);
}
#Navbar .home
{
  justify-content: start;
}
#Navbar img
{
  width: 220px;
}
#Navbar a
{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#Navbar #menLine
{
  background-color: white;
  opacity: 0;
  height: 1px;
  
}
#Navbar #womenLine
{
  background-color: white;
  opacity: 0;
  height: 1px;
}
#Navbar .control
{
  justify-content: flex-end;
}
#Navbar .rwdBar
{
  position: fixed;
  top: 0;
  left: 0%;
  width: 80vw;
  height: 100vh;
  z-index: 1500;
  overflow-x:hidden;
  overflow-y:auto;
}
#Navbar .rwdBar-gender
{
  cursor: pointer;
}
#Navbar .rwdBar-gender.men
{
  border: 1px solid black;
}
button.accordion-button
{
  font-size: 20px;
}
.accordion-button::after
{
  background-image: url(../img/angle-down-solid-black.svg);
}
.accordion-button:not(.collapsed)::after
{
  background-image: url(../img/angle-down-solid-black.svg);
}
.accordion-button:focus
{
  border: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed)
{
  color: black;
  background-color: rgba(235, 235, 235,0);
}
#Navbar .sort
{
  background-color: rgb(235, 235, 235);
}
#Navbar .sortLine
{
  background-color: black;
  opacity: 0;
  height: 1px;
  
}
#Navbar .ndSort
{
  position: absolute;
  top: 126px;
  height: 50vh;
  background-color: rgb(235, 235, 235);
  z-index: 500;
  display: none;
}
#Navbar .ndSort a
{
  font-size: 20px;
  color: black;
}
#Navbar .ns
{
  border: 1px solid rgba(255, 255, 255,0);
  transition: all 0.25s ease-in ;
}
#Navbar .ns:hover
{
  border: 1px solid rgba(0, 0,0,1);
}
/* RWD */
@media (min-width: 0px) and (max-width: 767px) {
  #Navbar .home
  {
    justify-content: center;
  }
  #Navbar .control
  {
    justify-content: space-between;
  }
  #Navbar .control>div
  {
    margin-top: 1rem;
  } 
}
@media (min-height: 578px) and (max-height: 880px) {
  #Navbar .ndSort
  {
    height: 65vh;
  }
}
@media (min-height: 0px) and (max-height: 577px) {
  #Navbar .ndSort
  {
    height: 70vh;
  }
}

/* animation */
@keyframes bottomLine {
  0%
  {
    width: 0px;
  }
  100%
  {
    width: 100%;
    opacity: 1;
  }
  }
@keyframes reBottomLine {
  0%
  {
    width: 100%;
    opacity: 1;
  }
  100%
  {
    width: 0px;
    opacity: 0;
  }
  }

