/* all */
*
{
  font-family: 'Cinzel', serif;
}
/* #Navbar */
#Navbar .navbar
{
  background-color: rgb(
    25, 25, 25);
}
#Navbar .home
{
  justify-content: start;
}
#Navbar img
{
  width: 220px;
}
#Navbar a
{
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}
#Navbar #menLine
{
  background-color: white;
}
#Navbar #womenLine
{
  background-color: white;
}
#Navbar .control
{
  justify-content: flex-end;
}
#Navbar .sort
{
  background-color: rgb(240, 240, 240);
}
/* RWD */
@media (min-width: 0px) and (max-width: 767px) {
  #Navbar .home
  {
    justify-content: center;
  }
  #Navbar .control
  {
    justify-content: space-between;
  }
  #Navbar .control>div
  {
    margin-top: 1rem;
  } 
}
/* animation */
@keyframes bottomLine {
  0%{width: 0px;}
  100%{width: 100%;opacity: 1;}
  }
@keyframes reBottomLine {
  0%{width: 100%;}
  100%{width: 0px;opacity: 1;}
  }

