#Content .signin_register
{
  min-height: calc(100vh - 126px);
}
#Content .sign_up-con
{
  width: 30vw;
  min-width: 300px;
}
#Content .login-con
{
  width: 30vw;
  min-width: 300px;
}
#Content #unsuccessful
{
  display: none;
}
#Content #unsuccessful,.sign_in_text,.sign_up_text,.rule
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
}
#Content .sub_button
{
  font-family:'Kanit', sans-serif ;
  background-color: rgb(25, 25, 25);
}
input
{
  font-family:'Kanit', sans-serif ;
}
#signIn_email-error,#signIn_password-error,#title-error,#name-error,#phone-error,#email-error,#password-error
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
  color: #dc3545;
}
#Content .successful
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;
  min-width: 300px;
  font-family:'Kanit', sans-serif ;
  display: none;
  z-index: 2000;
}
#Content .successful-title,.successful-content,.successful-regards
{
  font-family:'Kanit', sans-serif ;
}
#Content .successful-btn
{
  font-size: 20px;
  margin: 0 auto;
}
/* RWD */
