#Content .signin_register
{
  height: calc(100vh - 126px);
}
#Content .sign_up-con
{
  width: 30vw;
  min-width: 300px;
}
#Content .login-con
{
  width: 30vw;
  min-width: 300px;
}
#Content .sign_in_text
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
}
#Content .sign_up_text
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
}
#Content .sub_button
{
  font-family:'Kanit', sans-serif ;
  background-color: rgb(25, 25, 25);
}
