#Content .signin_register
{
  min-height: calc(100vh - 126px);
}
#Content .sign_up-con
{
  width: 30vw;
  min-width: 300px;
}
#Content .login-con
{
  width: 30vw;
  min-width: 300px;
}
#Content .sign_in_text,.sign_up_text,.pass-rule
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
}
#Content .sub_button
{
  font-family:'Kanit', sans-serif ;
  background-color: rgb(25, 25, 25);
}
input
{
  font-family:'Kanit', sans-serif ;
}
#title-error,#name-error,#phone-error,#email_register-error,#password_register-error
{
  font-family:'Kanit', sans-serif ;
  font-size: 14px;
  color: #dc3545;
}
